Assignment-1/DiceRoller/WebContent/wsdl/DieRoller.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://conor.example.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://conor.example.com" xmlns:intf="http://conor.example.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://conor.example.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="rollDice">
    <complexType>
     <sequence>
      <element name="n" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="rollDiceResponse">
    <complexType>
     <sequence>
      <element name="rollDiceReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="rollDiceResponse">

      <wsdl:part element="impl:rollDiceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="rollDiceRequest">

      <wsdl:part element="impl:rollDice" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="DieRoller">

      <wsdl:operation name="rollDice">

         <wsdl:input message="impl:rollDiceRequest" name="rollDiceRequest">

       </wsdl:input>

         <wsdl:output message="impl:rollDiceResponse" name="rollDiceResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DieRollerSoapBinding" type="impl:DieRoller">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="rollDice">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="rollDiceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="rollDiceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DieRollerService">

      <wsdl:port binding="impl:DieRollerSoapBinding" name="DieRoller">

         <wsdlsoap:address location="http://localhost:8080/DiceRoller/services/DieRoller"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
